@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.recipes__title {
  max-width: 580px;
  color: white;
  margin: 0 0 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0 0 80px;
  color: white;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 24px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  border-style: none;
  width: 480px;
  height: 273px;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  font-size: 44px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  justify-content: center;
  margin: 0 auto 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  height: 60px;
  margin-bottom: 32px;
  padding-left: 8px;
  border-radius: 4px;
  border: #838383;
  border-style: solid;
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  border-radius: 4px;
  border: #838383;
}

.form__button:hover {
  transition: smooth;
  opacity: 0.7;
}

.form__checkbox {
  box-sizing: border-box;
  padding: 0;
  margin: 0 12px 0 auto;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  height: 20px;
  width: 20px;
}

.form__fieldset_checkbox {
  display: flex;
}
